
@{
    ViewData["Title"] = "Order Complete";
}
<section class="default">


    <h2>Your order is complete</h2>
    <div></div>
    <a asp-controller="product" asp-action="index">Continue Shopping</a>
</section>
